/*

1 a s 2 S A ! q Q 

*/

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

.container {
	/*float:left;*/
	color:#1F1F1F;
	font-family:"Open Sans";
	font-size:16px;
	line-height:20px;
}

.title {
	color: #FFFFFF;
	font-family:Futura;
	font-size:700%;
	letter-spacing:.7px;
	text-align: center;
	margin:auto;
	margin-top:250px;
}

.name {
	color:#50BF77;
	display:block;
	width:420px;
	height:60px;
	font-family: Didot;
	font-size: 20px;
	letter-spacing: 2px;
	margin-left:0px;
	margin-top:0px;
	float:left;
	background-color:#ffffff;
	opacity:1;
	/*animate*/
	transition:all .3s ease-in;
}

.links {
	display:none;
	font-family:Didot;
	font-size:20px;
	letter-spacing:1.3px;
	color:#ffffff;
	margin-top:-40px;
}

.switch-helper{
	position:sticky;
	width:100%;
	height:70%;
	margin:auto;
	margin-top:-70px;
	float:left;
}

.switch{
	width:420px;
	display:block;
	margin:auto;
	margin-top:30px;
}

/*hover effect*/
.switch-helper:hover .name{
	opacity:0;
}

.whiteTriange{ 
	width: 100%;
	height: 300px;
	border-color:#FFFFFF;
	

}